[2020-07-30 19:42] serbinsh opened #12 "Add 95%CI and prediction intervals to validation graphs"
Forgot to add these to the final graph

[2020-08-13 12:03] serbinsh opened #13 "Possible bugs detected by Angie #1"
Originally posted by Angie on the wrong git: https://github.com/serbinsh/SSerbin_etal_2019_NewPhytologist/issues/1

Reposted here

When running the script via the RPubs version, nComps was not generated automatically (pressDFres not found in the t.test script). I had to manually set nComps <- 14 (guided by the annotation) to move to the next step.

When running the script from GitHub using RStudio

[2020-08-13 12:06] serbinsh opened #14 "Required: GitHub repo name/title change"
I called this "How_to_PLSR" as a placeholder.  We should probably change this at some point so its a bit more descriptive and matches the paper

[2020-08-13 12:11] serbinsh opened #15 "Cleanup: Confirm R script and vignette scripts match"
Before we finish we need to be sure both the script and the Markdown script match.

[2020-08-13 13:22] JulienLamour opened #16 "Using the Jacnife method to determine NoC"
Why not using the default method from the pls package to determine the number of components, ie the function selectNcomp? I think it would simplify the code and the manuscript. See for example p13 of the pls manual. https://cran.r-project.org/web/packages/pls/vignettes/pls-manual.pdf . But maybe you didnt like that?

[2020-08-14 19:35] DavidsonKen opened #17 "Issues Found by Ken 20200814 expanded_spectra-trait_plsr_example.R"
line 117: val.pls.data<-plsr_data[!plsr_data$id %in% cal.plsr.data$id,] change to val.pls**r**.data<-plsr_data[!plsr_data$id %in% cal.plsr.data$id,]

line 153: object cal_hist_plot returns error. I think this is because the object cal.plsr.data which is used to make the plot is an S3 grouped object and thus qqplot doesn't know how to deal with it. I changed cal.plsr.data to a data.frame and it wor

[2020-08-24 21:31] neo0351 opened #18 "Ecosis cannot download data"
Cannot download data using read.csv or read_csv.  Output for both provided.  However if i paste the URL into Chrome, it downloads the file.

[code]

[code]

[2020-08-25 15:46] serbinsh commented on #16
@JulienLamour does it work pretty well now?  In the past it didnt work well.  Also the example in the script is explicit and thus not really dependent on the package itself.  I wonder if thats what we want?  That is to show how its done instead of using the built in version?  Open to ideas on this

[2020-08-25 19:34] neo0351 commented on #16
@serbinsh I agree with being as explicit as possible for this.  It's a teaching tool, so sometimes showing what is going on is important, even if the code isn't as pretty or as efficient as it could be.

[2020-08-25 19:41] neo0351 commented on #18
@serbinsh This is a SSL certificate problem on EcoSIS's side.  Not sure how we can deal with it on ours, but I'll look into it once I finish my edits to the script.  Right now I'm just running with a downloaded copy to finish my testing.

[2020-08-26 17:17] serbinsh commented on #18
@neo0351 I created an EcoSIS issue feel free to add comments there if you think there is more info that would help

[2020-08-26 17:25] jrmerz commented on #18
Please try again.  SSL certs should be good to go.  Sorry about that.

[2020-08-26 17:42] neo0351 commented on #18
It's working now.

[2020-08-26 17:42] #18 closed

[2020-08-26 19:51] JulienLamour commented on #16
I tried their function and it seems to work. I understand your idea about being as explicit as possible, but in that case we will have to modify the code to make it a real jacknife or to change the name of the method. Indeed, since there is replacement and since the total of the sub samples is not equal to the total number of observations, I dont think we can call the method jacknife.

[2020-08-26 21:56] neo0351 commented on #16
@JulienLamour Do you think we should use their function, or do you think there's value to just renaming our code to something like "resample" be being more explicit?  My vote still goes to our code (change the name if needed) for the reasons @serbinsh stated.

[2020-08-26 22:18] serbinsh commented on #16
All good points.  Julien I’ll take a look tomorrow do you have an example where you use the old version?  I can look but maybe warming to your idea to leverage that but also explain what we are doing and why in more detail .

[iphone]

On Aug 26, 2020, at 17:56, Jeremiah <notifications@github.com> wrote:

﻿

@JulienLamour<https://github.com/JulienLamour> Do you think we should use their function,

[2020-09-08 18:50] serbinsh opened #21 "Make plotting unit/variable agnostic"

[2020-09-08 19:01] serbinsh commented on #15
Need help from @neo0351 and Julient Lamour (can't tag him right now)

[2020-09-08 19:02] serbinsh commented on #15
...so I cant tag him but can assign him ???? LOL I dont get some aspects of github

[2020-09-08 19:14] serbinsh commented on #17
CC @JulienLamour @neo0351

[2020-09-08 19:15] serbinsh commented on #14
Folks, what do we think about the repo name?  I think we should change it but to what?  @TESTgroup-BNL/testgroup_members

[2020-09-08 19:50] neo0351 commented on #21
Should we merge @JulienLamour and my versions first?

[2020-09-08 19:52] serbinsh commented on #21
Oh yes we should do that was just creating an issue about this

[2020-09-08 19:53] neo0351 commented on #21
Cool, just making sure.

[2020-09-09 14:49] regnans commented on #14
How about: "PLSR_for_plant_trait_prediction"

[2020-09-09 14:52] serbinsh commented on #14
Accepted.  Renamed.

[2020-09-09 14:52] #14 closed

[2020-09-15 20:59] #16 closed

[2020-09-15 20:59] #21 closed

[2020-09-15 21:02] serbinsh opened #26 "Bug: dplyr data split approach assumptions"
FYI @JulienLamour when playing with another dataset from EcoSIS I realized that your dplyr method for splitting data assumes the dataset contains "Sample_ID" which is based on the original example but not universal

[code]

We will need to revise how we select out the not cal data so it doesnt depend on knowing what variable is in the dataset.  currently I am not sure yet how do do that with that

[2020-09-15 21:06] serbinsh opened #27 "Bug: need to generalize assumptions in base R data split"
@neo0351

FYI -

[code]

I found a bug in your split function when trying out a new dataset
https://ecosis.org/package/leaf-reflectance-plant-functional-gradient-ifgg-kit
ID: 3cf6b27e-d80e-4bc7-b214-c95506e46daa

Not yet sure what the issue is but it looks at as coded it assumes there will be two grouping variables.  We need this to be flexible enough to handle 1+ grouping variables

And also FYI

[2020-09-15 21:10] serbinsh commented on #27
Pretty sure this is the area causing problems

[code]

[2020-09-15 21:12] serbinsh commented on #17
I *think* after the updates these issues will be fixed but I will have to confirm

[2020-09-15 21:12] #13 closed

[2020-09-15 21:12] JulienLamour commented on #26
val.plsr.data <-plsr_data[!row.names(plsr_data) %in% row.names(cal.plsr.data),] should do the trick

[2020-09-15 21:12] #12 closed

[2020-09-15 21:13] neo0351 commented on #27
can you email me the data set you are using?  I agree, this needs to work on any data set.

[2020-09-15 21:14] serbinsh commented on #27
I provided the EcoSIS link to the dataset?  Do you actually need me to email it to you?

[2020-09-15 21:18] neo0351 commented on #27
Oh, sorry, missed that you linked another data set

[2020-09-15 21:18] serbinsh commented on #26
@JulienLamour yup looks like that worked for this other test dataset.  Also just checked the original example and it seems to be creating the same data split as before.  So I think that solved it, thanks!

[2020-09-15 21:18] #26 closed

[2020-09-15 21:29] serbinsh opened #28 "Refine model component selection"
Both approaches are less than desirable for different reasons

1) pls jackknife selection often results in more components than necessary

2) T.test permutation requires a large enough number of iterations otherwise the auto-select chooses far too few.  Or if there is a lot of variance in the data it can result in the selection of a small number of components.  For example with the https://ecosis.

[2020-09-15 21:33] serbinsh commented on #28
I will say that the built in PLS package method seems to work much better with the https://ecosis.org/package/leaf-reflectance-plant-functional-gradient-ifgg-kit dataset.  Perhaps this is a case for when to use one or the other....for very large training datasets I think out method may be better

[2020-09-15 21:51] neo0351 commented on #27
@serbinsh  Ok, I see the problem.  It's the grep looking for NA's.  Which will cause issues.  I've solved this once upon a time and don't remember the fix right now.  The real question is, how do we want to handle say species that has NA's in it?  Drop them?  Leave them?

[2020-09-16 12:11] serbinsh opened #29 "Create a new "plsr_companion" R package to contain custom TEST group functions/approaches?"
Given the increased complexity and interest in using the example PLSR R script, the question now is whether we should create a small R package containing the functions developed for the scripts in order to make it easier to find and use these functions in custom fitting scripts?  The idea would be this package would be a companion to the standard PLS package containing custom functions to make the

[2020-09-16 16:06] neo0351 commented on #27
@serbinsh What do we want to do with NA's in the grouping variables?

[2020-09-16 16:12] serbinsh commented on #27
We dont want to drop NA's.  I think we may just have to shunt them as another "factor" that is pool all NA's together.  What do you think?  The risk is dropping NAs could mean we drop a lot of good data for training

[2020-09-16 16:13] neo0351 commented on #27
Good point.  I'll keep them in.  We should check Julien's method and see what it does.

[2020-09-16 16:20] neo0351 commented on #27
I'll get you the fix after lunch.  I think I need to update all the things before submitting the fix.

[2020-09-16 17:54] neo0351 commented on #29
I vote yes.  A pain now, but I think in the long run it will be easier.

[2020-09-16 18:17] serbinsh commented on #27
Fixed by @neo0351

[2020-09-16 18:17] #27 closed

[2020-09-16 18:18] serbinsh commented on #17
@DavidsonKen can you try running again, perhaps avoid the NEON example and try

expanded_spectra-trait_reseco_leafN_plsr_example.R

or

expanded_spectra-trait_reseco_lma_plsr_example.R

When you have a chance. Make sure to merge in the latest changes on Master.  Also the name of the repo changed so you may just want to reclone locally

[2020-09-16 21:09] serbinsh opened #32 "Cleanup and complete README document"

[2020-09-16 21:09] serbinsh opened #33 "Create v1 release"
After updating README

[2020-09-16 23:11] JulienLamour commented on #28
In the current code, you are looking for the first component n for which the decrease in PRESS is not significant when compared to the component n-2.  So it is looking for the first plateau. Sometimes the first plateau does not correspond to the best model. I wrote another version where you compare the PRESS corresponding to the best model (ie the number of component with the lowest PRESS) and fin

[2020-09-17 12:48] serbinsh commented on #28
@JulienLamour thanks.  I just coded this up.  A comparison using the "expanded_spectra-trait_reseco_lma_plsr_example.R" example.

pls: 11
![pls](https://user-images.githubusercontent.com/3067369/93472369-86f88800-f8c2-11ea-9276-bc2ea38dd51f.png)

custom, seg=50, iterations=50: 12
![custom](https://user-images.githubusercontent.com/3067369/93472262-6defd700-f8c2-11ea-8662-d6cfba242d05.png)

lowestP

[2020-09-17 12:50] JulienLamour commented on #28
Ok, I was thinking about it, actually to take into account the number of components which adds complexity to the model, we could do a F test instead of a t test so the complexity of the model is taken into account. I am trying to find a simple solution to do that

[2020-09-17 12:51] serbinsh commented on #28
copy that

[2020-09-17 13:00] serbinsh commented on #28
Overall I think these options are fine as is, as options.  Might just want to explore the Ftest as one more option.  I think the biggest issue is with the very large datasets where PLS over estimates components. I suppose I need to test that one (NEON).

Using "expanded_spectra-trait_kit_lma_plsr_example.R". A little more interesting

pls: 10
![pls](https://user-images.githubusercontent.com/306736

[2020-09-17 13:54] JulienLamour commented on #28
Ok, it is not possible to compare the models using a F test as I thought it was. There are a lot of discussion in how to compare the models with the different number of components. See for example https://arxiv.org/pdf/1810.08104.pdf . The package plsdof allows to compare more rigorously different models. For now we can probably keep the actual tests..

[2020-09-17 13:54] serbinsh commented on #28
expanded_spectra-trait_neon_lma_plsr_example.R

pls: 18
![neon_pls](https://user-images.githubusercontent.com/3067369/93474282-23238e80-f8c5-11ea-861f-835417f384e7.png)

custom: 14
![neon_custom](https://user-images.githubusercontent.com/3067369/93480701-b9f34980-f8cb-11ea-89f0-e1e2b6f33d65.png)

lowestPRESS: 17
![neon_lowestPRESS](https://user-images.githubusercontent.com/3067369/93478077-a778108

[2020-09-17 13:56] serbinsh commented on #28
@JulienLamour Yeah.  I think as you say, and as I have noticed in the past, there may not be a "silver bullet" for component selection and its somewhat case-by-case.  See above for example with the large NEON data the best approach is the basic permutation approach because PLS and the lowest PRESS comparison overfits.  I think we can call it good at this point....not sure if we are going to come u

[2020-09-17 14:12] DavidsonKen commented on #17
@serbinsh ran both the above files locally. No issues found, and they run much more smoothly than before. I like the new/improved graphics as well. No edits made by me. Shall I close out this issue?

[2020-09-17 14:15] serbinsh commented on #17
Thanks @DavidsonKen!! Couple of questions did you source the functions via GitHub or local?  What platform, R version did you use?

Leave this open as I will likely as that you run one more time after a few more edits as a tester :)

[2020-09-17 14:19] DavidsonKen commented on #17
@serbinsh helper functions were sourced locally (i.e. I copied the functions.R file to my computer). I can try again sourcing them from GitHub if you want?

I ran everything inside RStudio Version 1.2.5033, running base R version 3.6.2

Happy to continue to test through the day

[2020-09-17 15:10] neo0351 opened #35 "Check package versions"
Check we use all loaded packages and all package versions are somewhere.

[2020-09-17 15:12] serbinsh commented on #35
Also see PR #34 which is related (sort of)

[2020-09-17 16:27] serbinsh commented on #32
Completed some updates: https://github.com/TESTgroup-BNL/PLSR_for_plant_trait_prediction/blob/master/README.md

Review and feedback welcome.  Also what else do we need?

[2020-09-17 17:21] #15 closed

[2020-09-17 18:49] DavidsonKen commented on #17
Miror of what I put on slack:

@serbinsh @neo0351 updated non-neon code isn’t working for the ggplot version update.  Error in download_version_url(package, version, repos, type) :
  version '>= 3.3.2' is invalid for package 'ggplot2' perhaps its because 3.3.2 is the latest release?  In any case, I was able to edit the code to remove the “>=” section from the argument, and my version has updated f

[2020-09-17 19:29] serbinsh commented on #35
At least two reqiurements are

remotes >= 2.2.0
ggplot2 >=3.3.2

[2020-09-18 14:40] serbinsh commented on #28
One more change - should probably call the three approaches: "pls", "firstMin", "lowestPRESS" instead of pls, custom, lowestPRESS. Thoughts @neo0351 ?

[2020-09-18 14:42] JulienLamour commented on #28
I think the names should be 'pls', 'firstPlateau','firstMin'

[2020-09-18 14:44] serbinsh commented on #28
@JulienLamour OK perfect.  OK so one more set of updates to make these changes and then i think the scripts are done.  I will need to re-run the vignettes but otherwise good to go.

[2020-09-18 14:46] JulienLamour commented on #28
You went very quickly for me those last days, I havent checked in detail the code. Meaning that I ran the code and I saw that there is no bug but for example I didnt check the outputs, coefficients, things like that. But I guess you already did it?

[2020-09-18 14:54] neo0351 commented on #35
Sounds like now would be a good time to check to see if we are using all the packages we load?

[2020-09-18 14:55] serbinsh commented on #35
Correct

[2020-09-18 14:56] neo0351 commented on #32
Do we want to discuss some of the different approaches that can be used?  Like choices for splitting data and choosing nComps?

[2020-09-18 14:57] serbinsh commented on #28
@JulienLamour my review hasnt raised any flags as the outputs look correct to me.  Take a look at the README page and the URLs that take you to pre-baked output.  Or if you get a chance please run some of the examples.  But I think we are good

[2020-09-18 14:58] neo0351 commented on #32
And maybe a tidbit about the different data sets?  Like neon LMA is an example of using a huge dataset, takes forever to run.  Kit is a small dataset, but requires some data cleaning?

[2020-09-18 15:01] serbinsh commented on #32
@neo0351 Yes  and Yes.  If you could take the first crack at writing that up for review that would be helpful I have a full plate this AM

[2020-09-18 15:53] neo0351 commented on #28
@JulienLamour Could you give me a quick summary of the three methods for the readme?  Maybe a sentence for each?

[2020-09-18 16:20] JulienLamour commented on #28
The method from the pls package consists of choosing the model with fewest components that is still less than one standard error away from the overall best model. The method 'first min' consists of choosing the first component that gives statistically (t-test) the same result as the following component. This method finds the first 'plateau' in the PRESS diminution. The last method 'firstMin' finds

[2020-09-18 17:08] neo0351 commented on #32
Submitted first crack.  Looking at packages after lunch.  Wanted to get the readme out for review.

[2020-09-18 18:17] JulienLamour commented on #28
To answer Shawn's comment, the method 'firstMin' (ie the method previously called 'custom') should maybe renamed 'firstplateau' since it doesn't look for the minimum.. THe method 'lowestPress' could be actually renamed 'firstMin'. sorry for the brain dizziness..

[2020-09-18 18:39] neo0351 commented on #28
@serbinsh How shall we proceed?  Are we renaming 'custom'?

[2020-09-18 19:40] serbinsh commented on #28
@neo0351 I am working on revisions that rename the functions to pls, firstMin, first plateau

[2020-09-18 20:09] neo0351 commented on #28
@JulienLamour @serbinsh is this now correct?  'pls' option chooses the model with fewest components that is still less than one standard error away from the overall best model. 'firstPlateau' option chooses the first component that gives statistically (t-test) the same result as the following component. This method finds the first 'plateau' in the PRESS diminution.  'firstMin' finds the first comp

[2020-09-18 21:52] serbinsh commented on #28
Confirmed that update component selection code is much faster with NEON!

[2020-09-18 21:55] serbinsh commented on #28
6 first plateau, 15 first min, 18 pls package

now the default PLS version is much slower with NEON than our methods.....interesting

[2020-09-18 21:57] serbinsh commented on #28
also if we wanted to we could use map or other parallel loop with our approaches since each is independent.  for.each() for each random subset of the data for example

[2020-09-18 22:01] JulienLamour commented on #28
Its weird, first plateau and first min should use the same time.

[2020-09-18 22:03] serbinsh commented on #28
@JulienLamour why?  I thought first plateau was the first time the next component is not sig less PRESS than proceeding but that can be a local minimum and firstMin is when we hit the first min that is similar to the overall minimum?  There have been lots of cooks and changes so why dont you actually run the code and look at what its generating and make sure we are all on the same page.

[2020-09-18 22:04] JulienLamour commented on #28
Basically the computation time is needed to perform all the pls and the prediction. The computing time is the same for both approaches since they do the same thing. Then the calculation of the number of components should be nearly instantaneous

[2020-09-18 22:05] serbinsh commented on #28
...and if they should be the same then why do we have the two different options?
My understanding was that plateau was based on my original t.test of the vector of components where it finds when the next highest component press isnt sig better than the previous. but we were concerned that was too conservative.

Wait now I dont know what you mean @JulienLamour I am talking about the number of compo

[2020-09-18 22:06] JulienLamour commented on #28
Oh I see!! My bad

[2020-09-18 22:07] serbinsh commented on #28
yeah now the slowest method is the default method in the PLS package whereas yes our two approaches are the same in terms of computation time!

[2020-09-19 14:24] serbinsh opened #39 "Implement parallel version of pls_permutation"
Using map/for.each like syntax to break the # of iterations into a set of separate parallel runs.  Speed up for larger datasets

[2020-09-23 20:53] angieburnett opened #42 "Edits suggested by Angie 9/23"
Change LMA to SLA in filename etc for expanded_spectra-trait_kit_lma_plsr_example.R
Rename files without 'expanded' and delete simple file.

[2020-09-24 12:36] serbinsh commented on #42
Will do all except I am updating the "simple" example and will keep it as an example of a very basic fit

[2020-09-24 13:56] neo0351 commented on #17
@serbinsh can we close this one?

[2020-09-24 13:59] serbinsh commented on #17
I think so. closing

[2020-09-24 13:59] #17 closed

[2020-09-24 13:59] serbinsh commented on #42
Included in PR #44

[2020-09-24 13:59] #42 closed

[2020-09-24 14:00] serbinsh commented on #28
Closing this since we have achieved the goal laid out in this issue

[2020-09-24 14:00] #28 closed

[2020-09-24 18:58] serbinsh commented on #32
We also need to make sure we cover these aspects raised by Angela (still cant find her GitHub username to tag her here) in the READMe and a as-of-yet nonexistent dependency file

The code may be downloaded from GitHub at https://github.com/TESTgroup-BNL/PLSR_for_plant_trait_prediction/. We recommend that users refer to the README file before using the script. For easiest use, click the green Code

[2020-09-24 19:03] neo0351 commented on #32
ummmmmm, these paragraphs need to go in the readme?

[2020-09-24 19:07] serbinsh commented on #32
No, I havent looked in detail I was just wondering if there were any things in here not already covered?

As for the data specific or refs etc that should all be covered by teh EcoSIS pages.  I guess just need to figure out what might be missing and then we are done

[2020-09-24 19:10] neo0351 commented on #32
sigh.....yeah.  I'll help make sure we get these covered.  #TL;DR

[2020-09-25 19:24] JulienLamour opened #46 "Correct the x axis of some plots"
There are some wrong xlab in the coefs plots. they go from 0 to 1500 instead of 500 to 2500

[2020-09-25 20:01] serbinsh commented on #46
yeah ugh I noticed that!  :(

[2020-09-25 20:46] serbinsh commented on #46
@JulienLamour did you want to make the fix or me? I think we just need to correct the x axis in the figure function

[2020-09-28 22:21] JulienLamour opened #47 "Add inVar in the parameters of the function f.coef.valid"

[2020-09-29 17:14] neo0351 commented on #47
@JulienLamour is this complete?

[2020-09-29 17:15] neo0351 commented on #46
@JulienLamour looks like you completed this one?

[2020-09-29 17:16] neo0351 commented on #35
dependancies added to readme

[2020-09-29 17:16] #35 closed

[2020-09-29 17:16] JulienLamour commented on #47
Yes

[2020-09-29 17:16] #47 closed

[2020-09-29 17:16] JulienLamour commented on #46
Yes sorry for not closing it

[2020-09-29 17:16] #46 closed

[2020-09-29 20:29] #32 closed

[2020-12-16 16:02] serbinsh opened #53 "Add github_document versions of the Vignettes"

[2020-12-31 16:32] serbinsh commented on #53
Done

[2020-12-31 16:32] #53 closed

[2020-12-31 16:56] serbinsh opened #54 "Add new permutation analysis similar to that used in Serbin et al 2019"
Already generating the output needed to make non-parametric CIs instead of using basic pred intervals.

[2020-12-31 16:58] serbinsh commented on #54
Specifically here: https://github.com/TESTgroup-BNL/PLSR_for_plant_trait_prediction/blob/3d0c06857bfc5d1b99bb2bfeb59cf9dc053cfbc1/R_Scripts/functions.R#L116

Should be able to use those coefficients to build new models and generate new CIs based on the Xs refitting of the model

[2021-01-13 13:52] serbinsh opened #55 "Fix the sourcing of functions - GitHub making life hard again"
https://github.blog/2020-12-15-token-authentication-requirements-for-git-operations/

This does not seem to be working for me now:
devtools::source_url("https://raw.githubusercontent.com/TESTgroup-BNL/PLSR_for_plant_trait_prediction/master/R_Scripts/functions.R")

CC @JulienLamour @neo0351

[2021-01-13 13:57] serbinsh commented on #55
Actually, I dont think these are related but I cant tell.  This AM I am unable to load pdf or .md vignettes in Github (loading slow or timing out) and I also can't resolve

https://raw.githubusercontent.com/TESTgroup-BNL/PLSR_for_plant_trait_prediction/master/R_Scripts/functions.R

Also timing out loading the "raw".  Not really clear what the problem is?

[2021-01-27 14:33] serbinsh commented on #55
This was just another ITD VPN issue making our lives more difficult.....again. Currently fixed after they removed GitHub usercontent from the "blacklist"

[2021-01-27 14:33] #55 closed

[2021-01-27 15:08] serbinsh commented on #54
I have roughly sketched this out and it seems to produce what I expected.
![Rplot](https://user-images.githubusercontent.com/3067369/106010557-9618ef00-6087-11eb-9a86-3cdf119e04be.png)

going to add a couple new examples with this approach for defining the PLSR predicted CIs

[2021-01-27 15:37] serbinsh commented on #54
And generated the broader CIs in coefficients as expected
![Rplot01](https://user-images.githubusercontent.com/3067369/106014600-a03cec80-608b-11eb-8e49-98a7300daf2a.png)

[2021-01-27 15:42] serbinsh commented on #54
Personally, I prefer this approach to capture the model uncertainty as it captures much more of the variance and less conservative than the other approach

[code]

[2021-01-27 21:13] serbinsh commented on #54
Completed in #56

[2021-01-27 21:13] #54 closed

[2021-01-28 20:55] serbinsh opened #58 "Canopy example?"
COuld use this to show our code works with image spectra as well

https://ecosis.org/package/canopy-spectra-to-map-foliar-functional-traits-over-neon-domains-in-eastern-united-states

[2021-01-29 14:06] serbinsh opened #59 "Novel datasets for trait synthesis"
Just noticed some neat datasets on EcoSIS with novel measurements

e.g needle species with chemical trait data
https://ecosis.org/package/missoula-montana-lodgepole-pine---big-sagebrush-time-series

[2021-02-03 16:51] serbinsh opened #60 "Scales package - do we use it?"
@neo0351 we have scales listed as a depends. not sure I know where we use it?

[2021-02-03 17:45] neo0351 commented on #60
I couldn't find where we use it.  It appears to be loaded twice, in apply_sserbin and the simple example, but I don't see it being used.  At least according to the package NCmisc

[2021-02-03 17:47] neo0351 commented on #60
Maybe I should look at all the packages we use and see if there is any others we call for but don't use?

[2021-02-03 17:51] serbinsh commented on #60
Thanks!  @neo0351 lets wait for a full house cleaning until I have the base package version PR done

[2021-02-03 18:24] serbinsh opened #61 "Unit tests"
Started but we could use more

devtools::test("PLSR_for_plant_trait_prediction")

[code]

[2021-02-03 18:26] serbinsh opened #62 "Build manual"
Make sure to create the PDF manual

in the package folder, run:

R
[code]

[2021-02-03 18:27] serbinsh commented on #62
Example. Could do with improved documentation in each function

[spectratrait_0.9.9.pdf](https://github.com/TESTgroup-BNL/PLSR_for_plant_trait_prediction/files/5920647/spectratrait_0.9.9.pdf)

[2021-02-03 19:12] serbinsh opened #63 "add internal example dataset"
To address @alistairrogers comment about examples that arent dependent on external tools, we will add a built in dataset example and associated script.  Plan is to load the data using the R data() command then the rest of the steps would look the same; that is no reliance on EcoSIS

[2021-02-03 19:21] serbinsh opened #64 "Manuscript resubmission checklist"
- [x] Convert to package (shawn)
- [x] Remove unused depends (@neo0351)
- [x] Update README - revise links and update contains and other text (@neo0351 )
- [x] Update example scripts in inst/scripts (shawn)
- [x] Update vignettes (shawn)
- [x] Add tests (all)
- [x] TEST group testing sesh, squash bugs (all)
- [x] Create internal dataset to use in an example not dependent on EcoSIS
- [x] Create add

[2021-02-03 20:27] serbinsh commented on #63
Just added an example dataset based on Ely et al 2019

[code]

[code]

Will be part of the new package version CC @regnans not the full dataset, create a smaller version

[2021-02-03 20:28] serbinsh commented on #63
Example of the reproducible script to generate this example dataset

https://github.com/TESTgroup-BNL/PLSR_for_plant_trait_prediction/tree/Rpackagify/data-raw

[2021-02-03 20:45] serbinsh opened #65 "Add internal example script using Ely et al internal sample dataset"
Target var: Narea

[2021-02-03 20:56] serbinsh commented on #65
Done. Seems to be working:

https://github.com/TESTgroup-BNL/PLSR_for_plant_trait_prediction/blob/Rpackagify/inst/scripts/spectra-trait_ely_leafN_plsr_bootstrap_example.R

![N_g_m2_Cal_Val_Histograms](https://user-images.githubusercontent.com/3067369/106808171-0ac7cc80-6638-11eb-870d-ab33391ff997.png)

![N_g_m2_Cal_Val_Spectra](https://user-images.githubusercontent.com/3067369/106808186-10251700-6

[2021-02-03 20:56] #63 closed

[2021-02-03 21:57] serbinsh commented on #60
@neo0351 OK so I know where we use "scales"

We use it to generate the "alpha" transparency in some of the plotting, like in the plotrix::plotCI

[code]

[2021-02-03 23:02] neo0351 commented on #60
Ok, I see how I missed it.  "alpha" is also part of ggplot2.  I was looking in the wrong part of the output.

[2021-02-03 23:07] neo0351 commented on #60
We should check our code for issues like this and make sure we are using `package::function` where there are conflicts like this alpha thing.

[2021-02-04 18:05] serbinsh opened #66 "Update f.plot.coef() to allow for selecting which quantiles to plot"
https://github.com/TESTgroup-BNL/PLSR_for_plant_trait_prediction/blob/Rpackagify/R/f.plot.coef.R

[2021-02-05 13:21] #29 closed

[2021-02-05 13:21] #62 closed

[2021-02-05 13:37] serbinsh commented on #60
Agreed, the fix for this is to make sure the examples have scales::alpha()

[2021-02-05 13:37] #60 closed

[2021-02-05 20:20] serbinsh opened #67 "Create side by side RMSE, R2 plot function to replace hard-coded example in scripts"

[2021-02-05 21:57] serbinsh opened #68 "Drop wavelengths function: For canopy examples of data with wavelengths that have poor SNR"

[2021-02-12 21:51] regnans opened #69 "Testing from the POV of unskilled user"
I'm trying to be "that reviewer" that has no idea what they are doing with GitHub or R. (not that far from the truth).

Running spectra-trait_reseco_lma_plsr_example.R
I had some issues getting started, but will make that a different issue.
Once I had a the code running in R Studio (v1.4, with R 4.0.3), these are potential issues.

At Line 31: install devtools. Outputs list of packages (n = 56). I

[2021-02-13 01:43] regnans commented on #69
Round 2, on pc.

Testing in Windows. Noticed this warning, but it did not stop code, so could go unnoticed.

This website says: “Note that rtools40 is only needed build R packages with C/C++/Fortran code from source. By default, R for Windows installs the precompiled “binary packages” from CRAN, for which you do not need rtools!”

Running OK. Error at same point.

loads fine but does not solve iss

[2021-02-13 02:01] regnans commented on #69
Round 3, back on Mac. Restarted R Studio. Everything ran fine.

[2021-02-14 16:29] serbinsh commented on #69
@regnans well first, yay it finally worked!  But those issues are troubling and, annoyingly, more R/Rstudio than the package itself! That makes it very difficult to try and deal with.

My initial thought is that R wanted you to respond to upgrades with packages before running.  Maybe we need to tell users to first install the package and answer any and all R prompts about upgrading packages.

I do

[2021-02-14 16:29] serbinsh commented on #69
in effect the output figures will /should look more like these versions

https://github.com/TESTgroup-BNL/PLSR_for_plant_trait_prediction/blob/master/vignettes/reseco_lma_plsr_example.md

[2021-02-15 01:06] regnans commented on #69
No, it didn't tell me it needed magittr. When it failed on `%>% `I searched for what packages that was in, and that led me to magittr and dplyr.

I think that is reasonable. There are a few things that could be included in the README to help newbies get started. It seemed that getting all of the packages up and then restarting R Studio sorted everything out. I'd be happy to help write some text fo

[2021-02-15 15:42] serbinsh commented on #69
@regnans that would be very helpful thanks!

[2021-02-16 13:38] serbinsh opened #70 "Update README to help new R users install and run package"
@regnans
https://github.com/TESTgroup-BNL/PLSR_for_plant_trait_prediction/issues/69#issuecomment-778879497

Assigning updating the README to you so you can add the suggested changes you were thinking about. Feel free to make the edits right in GH.

[2021-02-16 16:59] regnans commented on #70
I've added a Getting Started section to help smooth the way for beginners. As I am a beginner, I didn't know all of the answers - need to add detail on the best way to get the code from GitHub to RStudio (or whatever is being used). Will also need a language check on this section to make sure I've used correct terminology.

[2021-02-19 21:16] serbinsh commented on #69
@regnans some questions

1) "Load code into operating environment: how should this be done? Can someone add? (I hacked my way around this by cut and paste, but is there a better way?)."

I don't follow this?  The scripts load all of the packages into R already

[code]

Again I think you issue was that you needed to first address R asking you what packages to update and because you skipped over tha

[2021-02-19 21:39] regnans commented on #69
1. This step is about how to get the code running before the scripts load packages. I'm talking SUPER basic here. I see the code in GitHUb - how does the user get that into R/RStudio? cut and paste? link to Github? save the script as *.R somewhere and load from there? Run from Github? I don't know possibilities or the best way - very much a newbie question here.

2. No, this was not about updating

[2021-02-19 22:26] serbinsh commented on #69
@regnans hmm......

For 1 I see your point and I don't yet have a very basic solution.  Its too hard to express here whats up but there seems to be some issue with the fundamental "how do we get the code to a user" issue. That would usually be git clone or download zip and extract but I don't see any easy way right now to just download one of the scripts.  THat said they do open in a browser which

[2021-02-19 22:39] regnans commented on #69
Some people unfamiliar with GitHub would look for a "save as", which doesn't exist. Your suggested solution of instructions to download the zip and run from there is good. I will update that section in the README.

[2021-02-19 22:51] serbinsh opened #72 "Package load syntax is wrong - need to fix I think"
[code]

I don't think that's correct.  Maybe at some point, I screwed up that syntax.  clearly its wrong and it should be doing "library(package), ...)"

[2021-02-20 15:39] serbinsh commented on #72
Actually, this is fine and not the problem. The problem was me trying to make the script all-encompassing and forgetting that we need to instruct how to get things installed first, then restart R then run the script which should only load the packages not also try to install if missing.

I am going to create a new issue to address this and address the necessary changes

[2021-02-20 15:39] #72 closed

[2021-02-20 15:41] serbinsh opened #73 "Update package requirements and install instructions - remove from scipts"
After thinking about it, we need to provide help on installing the package and depends and then only load whats needed in the scripts. Current approach is not a good one or R compliant.

[2021-03-09 17:54] serbinsh commented on #73
Done

[2021-03-09 17:54] #73 closed

[2021-03-09 17:55] serbinsh commented on #69
@regnans when you have a chance, lets make sure the latest PR addresses this and if so we can then close

[2021-03-09 17:55] serbinsh commented on #65
done

[2021-03-09 17:55] #65 closed

[2021-03-09 17:57] serbinsh opened #75 "Use GitHub actions for CI"
General reference
https://docs.github.com/en/actions/quickstart

References for use with R code

https://usethis.r-lib.org/reference/github_actions.html
usethis::use_gh_actions_ci()

https://github.com/r-lib/actions

[2021-03-09 17:57] serbinsh commented on #70
Done

[2021-03-09 17:57] #70 closed

[2021-03-09 17:58] serbinsh commented on #58
Done - https://github.com/TESTgroup-BNL/PLSR_for_plant_trait_prediction/blob/master/vignettes/neon_leafN_canopy_plsr_example.md

[2021-03-09 17:58] #58 closed

[2021-03-09 17:59] serbinsh commented on #75
Another more detailed example
https://github.com/FoRTExperiment/fortedata/tree/master/.github/workflows

[2021-03-10 13:10] serbinsh opened #77 "rename repo?"
Should we just go ahead and rename this repo to the name of the R package it builds? The current name is a holdover from when this was just a repo of scripts.  It may make sense to just rename to "spectratrait" Thoughts?

@JulienLamour @regnans @neo0351 @DavidsonKen

[2021-03-10 14:57] JulienLamour commented on #77
Yes I think it is sounding to rename it!

[2021-03-10 15:10] serbinsh commented on #77
Yeah I agree.  also because we want the extracted zip files to also be consistent in naming and right now they are not.  I will rename the repo to match the R package name; "spectratrait". Fingers crossed

[2021-03-10 15:40] regnans commented on #77
late to the party here, but yes, agree. And this is done, so I will close.

[2021-03-10 15:40] #77 closed

[2021-03-10 16:03] serbinsh opened #78 "Fix %RMSEP in the code - should be over the range not the mean"
@JulienLamour noticed an error in the calculation,  Needs to be changed to match our reviewer responses and to match citations

[2021-03-11 13:34] serbinsh commented on #78
Done in #79

[2021-03-11 13:34] #78 closed

[2021-03-11 13:38] serbinsh opened #80 "Create new apply function that applies PLSR models to new data"
apply_plsr(..) to take plsr coefficients/permutation coefficients and input spectra matrix to generate new values in a dataframe.

Options should be:
input coefficients as either R object or a specific file(s)
Input reflectance as either an R matrix or a specific file
wavelength prefix (e.g. "Wave_")
metadata_columns - those in the input spectra to keep in the output object

I don't see this overl

[2021-03-11 13:40] serbinsh commented on #80
Would want the functionality to match something like this script:

https://github.com/TESTgroup-BNL/spectratrait/blob/perc_rmse_fix/vignettes/apply_sserbin2019_plsr_to_neon_example.md

but with more flexibility and to simplify how to do this for end users

could add the option to use github files for coefficients like in this script example

[2021-04-28 20:54] serbinsh opened #81 "R2 reporting bug"
In our example scripts, particularly when we create the side-by-side cal/val plots

![Nmass_mg_g_Cal_Val_Scatterplots](https://user-images.githubusercontent.com/3067369/116470900-03345000-a842-11eb-9c64-030ea4ff8f7f.png)

 I found a bug where the R2 doesn't match the R2 in the final validation plot

![Nmass_mg_g_PLSR_Validation_Scatterplot](https://user-images.githubusercontent.com/3067369/1164709

[2021-04-28 20:57] serbinsh commented on #81
Crap, we also need to do this for the calibration plot stats

[code]

this needs to be

[code]

[2021-04-28 20:59] serbinsh commented on #81
Actually the most appropriate way is to use

[code]

intercept =F

[2021-04-29 13:35] JulienLamour commented on #81
I ll check if this is the issue I had, I finally used the lm function to compute the R2 and RMSE and thought to check what was the difference later. I also had negative R2 using pls::R2 which makes no sense to me, so I wonder if it is an issue with pls:R2 or if we did something wrong. See for example: https://github.com/TESTgroup-BNL/Physiological_traits_PLSR_models/blob/master/PLSR_models/Validat

[2021-04-30 19:44] #81 closed

[2021-04-30 20:02] #64 closed

[2021-10-21 21:47] serbinsh opened #85 "Replace old repo name in install example"
Somehow we still have

[code]

and this should be

[code]

[2021-12-20 09:44] asierrl opened #86 "nComp selection seems not to work properly"
I am trying to fit a PLSR model of hyperspectral (VNIR) data on SLA (mean of canopy values per tree) using psl and spectratrait and following the tutorial provided in it. But I find a lack of congruence between the results of spectratrait::find_optimal_components and what I see in the training, crossvalidation and validation results with different number of components.
find_optimal_components alwa

[2021-12-24 11:27] asierrl commented on #86
I made a script where, instead of using pls_permutate I run a loop where I split the data with spectratrait::create_data_split (with a pseudorandom seed in each loop), then fit the model to cal_data and then validate it on val_data. It always select a higher number of LVs and the resulting models make much more sense. Sitll, sometimes I perceived some issues that might be related with what I thing

[2021-12-24 11:41] asierrl opened #87 "Possible bug in create_data_split when working with groups"
Aparently, the function performs a stratified random sampling for cal_data, but always takes the last rows of the dataset for val_data, even reusing cases already selected for cal_data:

[1] "plot"    "season"  "disease" "d"       "id"

  [1]   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
 [19]  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
 [37]

[2021-12-26 13:18] serbinsh commented on #87
@asierrl Thank you for using our package and bringing this to our attention!  I am traveling right now for the Holidays but as soon as I have a chance, I will take a look at this in more detail.

A few followup questions: 1) does this only happen when using more than 2 groupings? I am not sure I noticed this with our two-group examples.  Could you try the same dataset again with just 2?  Or better

[2021-12-26 13:26] serbinsh commented on #86
I am not exactly following your comment.  yes you can write your own code to permute the data, like a loop as you mentioned, but the point of this test/function is to use stats to determine optimal components.  You can sometimes have the behavior you describe if the data is "noisy" In the plots you present above, I can see that indeed the components plateau at 3 because as you can see the distribu

[2021-12-26 13:30] serbinsh commented on #86
Also again looking at your plots, I am having a little bit of trouble understanding how cal always improves and val does not.  What sort of dataset is this?  Canopy spectra and traits? Are you able to share the data with me for testing? Even just a subset?  I wont share it, its just challenging to see what the issue is from this post

I should also say that at the moment our function does not perm

[2021-12-26 13:49] serbinsh commented on #87
I have recreated what you found using the dplyr method.

When using our base R implementation

[code]

I get the expected behavior, sampling across the data range.

[code]

If i change it to select 60% for training

[code]

Looks like the dplyr implementation may not be parsing the groups properly anymore and it could be related to updates in tidy. I will look into making that work as expected.

@

[2021-12-26 13:52] serbinsh opened #88 "baseR create_data_split tweaks"
@JulienLamour pointed out here that we are hard-coded a minimum number of obs needed for data split but then provide no error handling when the obs are too low.  We should instead either stop and mention that the groups are insufficient or provide a solution, such as putting the obs into either cal or val randomly and then reporting as such since again this is really about selecting cal./val datas

[2021-12-26 14:03] serbinsh commented on #87
I see what the issue is.  When the dplyr approach was setup, we used

https://github.com/TESTgroup-BNL/spectratrait/blob/4e472c6ae0e5833faae7d2f0f2b2fd9a2b48c196/R/create_data_split.R#L52

to separate val from cal but for whatever reason, the issue I see now is that

[code]

is getting the row names of the new data frame, i.e. restarted number and do not pertain to the original row numbers of "dat

[2021-12-26 14:10] serbinsh commented on #87
This isnt it exactly but something like this

[code]

[code]

[2021-12-27 18:34] asierrl commented on #86
It seems that I did not explain the problem clearly enough. In fact, I followed closely your approach in the tutorial attached to Burnett et al. 2021. That is, first I splitted the data in a calibration and a validation data set. Then I selected the number of components by permuting on that calibration data set. Once set the number of components I fitted the final model with that nComps and a LOO

[2021-12-27 18:59] asierrl commented on #87
I think you don't need a response to your questions any more, but just in case...
1) Yes, I find the same issue with a two variable grouping split, and even with a one-variable split.
2) I just implemented the tutorial you provide in your article at Journal of Experimental Botany, and I find the same issue there with only a grouping variable.
3) Sample size is scarce (7 trees at each combination o

[2021-12-27 19:18] asierrl commented on #86
After reading the comments to issue #87 the opposite trend between cal and val on one side and cross-val on the other disappears, and the comparison among the three plots make sense now (although I have to increase the number of samples at validation set, as a I only have 7 samples at each combination of grouping variables).
Now I have a doubt about using the fixed version of dplyr or the base ver

[2021-12-28 15:37] serbinsh commented on #87
Implementing the fix

[code]

I will be updating the vignettes and testing to make sure it holds for our examples.

[2021-12-28 21:07] serbinsh commented on #87
@asierrl please see PR #89 which should address the issues with create_data_split.  I also added a test to ensure its not duplicating any obs between cal and val.  As far as I can see, the fix has addressed your concerns but if you can please run this branch and check for me. Thanks

[2021-12-29 07:54] asierrl commented on #87
@serbinsh I already check the new version in branch data_split_fix and now it works smoothly, the validation data set now is correctly stratified across the three factors. Thanks for sharing your great work!!

[2021-12-29 10:35] asierrl opened #90 "Adding group stratification to pls_permutation and selection of the number of components"
If ensuring the validation data set has a similar distribution as the calibration data set is important for model validation and is achieved by stratifying the random selection procedure used to split the data set, I think it should equally equally important for permuting the calibration data set to select the optimal number of components.
I suggest to improve find_optimal_components by allowing i

[2021-12-29 13:39] serbinsh commented on #87
Excellent @asierrl thanks for the help! I will merge that into the main branch now.

[2021-12-29 13:42] serbinsh commented on #87
Fix merged - closing this issue

[2021-12-29 13:42] #87 closed

[2021-12-29 14:16] serbinsh commented on #90
@asierrl Thanks!  this is indeed a great suggestion and I will add it to our development plan.  If you have already drafted new functions, is it possible to either 1) create a new branch of spectratrait, add the functions and provide a PR for me to test/explore or 2) send me an R script with the new function drafts or 3) paste the code in this thread.

I could add them to a PR for us to test and p

[2021-12-29 14:54] serbinsh commented on #85
Updated README

[2021-12-29 14:54] #85 closed

[2021-12-29 15:18] serbinsh commented on #61
Adding some new tests

[code]

[2021-12-30 08:11] asierrl commented on #90
Great, @serbinsh.
I forked the repository, created a new branch, uploaded the new files and created a pull request. Not sure if you automatically have permissions for merging it...I guess so.

[2022-01-25 15:08] serbinsh commented on #90
This is being addressed in PR #93

[2022-01-25 15:09] serbinsh commented on #86
Addressed in #87 and #93

[2022-01-25 15:10] serbinsh commented on #61
Adding more tests in #93

[2022-03-15 21:27] serbinsh commented on #75
This is being addressed in #95

[2022-03-17 17:00] serbinsh commented on #75
https://blog--simonpcouch.netlify.app/blog/r-github-actions-commit/
https://docs.github.com/en/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions
https://github.com/pixgarden/scrape-automation/blob/main/.github/workflows/main.yml
https://sabeeh.medium.com/using-github-actions-as-a-job-scheduler-for-r-scripts-7b92539372f4
https:/

[2022-03-17 17:00] #75 closed

[2022-03-17 17:05] serbinsh commented on #90
This is done

[2022-03-17 17:05] serbinsh commented on #61
Tests added

[2022-03-17 17:05] #61 closed

[2022-03-17 17:08] serbinsh opened #98 "Deprecate use of reshape2"
Replace use of reshape2::melt() with new suggested package data.table::melt()

reshape2 is apparently going the way of the dodo at some point soonish, or has, or maybe no longer??  Need to confirm and either address this issue or close

[2022-03-17 19:53] serbinsh commented on #75
https://github.com/r-lib/actions/actions/runs/17483670/workflow

[2022-10-27 11:40] serbinsh opened #99 "Update vignette examples to always plot X axis as wavelength"
Responding to user feedback I noticed that some plots use index not wavelength on the X axis.
https://github.com/TESTgroup-BNL/spectratrait/blob/master/vignettes/ely_etal_ex1_files/figure-gfm/unnamed-chunk-12-1.png

This should be an easy fix